<h2>新骑友</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :nickname %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
