<!DOCTYPE html>
<html>
<head>
  <title>单车运动俱乐部联盟 - CBCL.info</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
   您好， <%= current_user.nickname %> | <%= link_to "注销", destroy_user_session_path, method: :delete %>
<% else %>
   <%= link_to "登录", new_user_session_path %> | <%= link_to "加入我们",  new_user_registration_path %>
<% end %>

<%= yield %>

</body>
</html>
