<!DOCTYPE html>
<html>
<head>
  <title>单车运动俱乐部联盟 - CBCL.info</title>
<meta name="keywords" content="单车 自行车 车队 骑行" />
<meta name="description" content="CBCL.info是一家免费为自行车运动俱乐部提供网络服务的供应商。在我们的平台上，会为每个加盟的俱乐部提供免费的主页，组织活动功能，以及俱乐部成员之间的消息广播功能。 " />
<meta name="author" content="CBCL.info" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">CBCL.info</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li <%= yield :index %>><%= link_to "首页", root_path %></li>
              <li <%= yield :club %>><%= link_to "俱乐部", home_club_path %></li>
              <li <%= yield :party %>><%= link_to "活动", home_party_path %></li>
              <li <%= yield :about %>><%= link_to "关于", home_about_path %></li>
              <li <%= yield :contact %>><%= link_to "联系", home_contact_path %></li>
            </ul>
              <% if user_signed_in? %>
                  <p class="pull-right">您好， <%= current_user.nickname %> | <%= link_to "注销", destroy_user_session_path, method: :delete %></p>
              <% else %>
                <form action="<%= session_path("user")%>" method="post" class="navbar-form pull-right">
                  <input class="span2" type="email" name="user[email]" placeholder="Email">
                  <input class="span2" type="password" name="user[password]" placeholder="密码">
                  <input name="user[remember_me]" type="hidden" value="1" /> 
                  <button type="submit" class="btn">登录</button>
                </form>
              <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div>
        <%= image_tag "logo.png" %>
      </div>
      <%= yield%>

      <hr />

      <footer>
        <p>&copy;  2013 by <a href="http://www.huangxiaolei.com.cn">住在井底的青蛙</a></p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
